@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

*
{
   box-sizing: border-box;
}


body
{
    background: rgb(0, 0, 0) !important;
}


header
{
    position: fixed;
    top: 0;
}

#nav-bar
{
    background: transparent !important;  
}


.navbar-nav > li{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    
}

.nav-link
{
    color: white !important;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    transition: transform .3s;
}

.nav-link:hover
{
    color: rgb(255, 102, 0)!important;
    background-color: black;
    width: fit-content;
    border-radius: 5px;
    text-shadow: none;
    transform:translateY(5px);
 
}



.logo-name
{
    -webkit-text-fill-color: rgb(174, 245, 8);
     
                                         
}

.nabrbar-brand
{
    font-size: 58px;    
}

#Welcome-section
{
    width: 100%;
    height: 100vh;
    background-image:url(Images/mobile-background.jpg);
    background-repeat: no-repeat; 
    background-size:cover;
    background-position:left;
    background-attachment: fixed;
}

@media (min-width:768px)
{
    #Welcome-section
    {
        width: 100%;
        height: 100vh !important;
        background-image:url(Images/restaurant-background.jpg);
        background-repeat: no-repeat; 
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
    }

}

#About-us
{
    width:100%;
    height:50vh;
    background-color: white;
}

#Menu
{
    width:100%;
    height:100vh;
    background-image:url(Images/restaurant-background.jpg);
    background-repeat: no-repeat; 
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

@media (max-width:571px)
{
    .navbar-nav
    {
        background-color: rgba(71, 71, 71, 0.548);
        float: center;
        text-align: center;
    }

}